@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem;
}
h1 {
  font-size: 1.6rem;
  padding: 0.1rem 0;
}
h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
